# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
*.egg-info/

# Virtual Environment
venv/
env/
ENV/

# Frontend
**/node_modules/
**/.next/
**/dist/
**/build/

# Logs
*.log

# Archivos temporales
*.tmp
*.temp
*.bak
*.backup

# Archivos de caché
.cache/
*.cache

# Archivos de configuración local
.env
.env.*
**/.env
**/.env.*

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Checkpoints de notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/**
